<h1>Take a retweet break. You've earned it.</h1>

<p>
  Retweets are awesome. Until they're not. Sometimes you just want to turn them off for a while. Twitter provides the ability to turn retweets off for individual users, but doesn't let you do it globally. This is what this site is for. It will get your following list and turn each users retweets off one by one. It also lets you turn them back on when you're done being mad.
</p>

<p>
  The permissions model for twitter clients is pretty coarse. You get read, read/write, and direct messages options. This service needs read/write to do it's thing. I only use it to retrieve your following list and flip the retweets switches. I don't use it for any other twitter activity.
</p>

<p class="actions">
  <a href="/auth/twitter" class="btn btn-large btn-primary">Sign in with Twitter</a>
</p>

